@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  overflow: auto;
} */

body {
  min-height: 100vh;
}

html {
  background: #283618;
}

input[type='radio']:after {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  cursor: pointer;
  position: relative;
  background-color: #fefae0;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #fefae0;
}

input[type='radio']:checked:after {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  cursor: pointer;
  position: relative;
  background-color: #dda15e;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #dda15e;
}
